body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#goBoard {
    border: 1px solid black;
}

#coordinates {
    margin-top: 10px;
}

#inputArea {
    margin-top: 20px;
}
